{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Вход · NEPTONE{% endblock %}
{% block content %}
<div class="container-np" style="max-width:480px">
  <div class="card-np p-4">
    <h1 class="h4 mb-3">Вход</h1>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="mb-3">
        <label class="form-label">Username</label>
        {{ form.username|add_class:"input-np" }}
        <div class="text-danger small">{{ form.username.errors }}</div>
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        {{ form.password|add_class:"input-np" }}
        <div class="text-danger small">{{ form.password.errors }}</div>
      </div>

      <button class="btn-np primary w-100" type="submit">Войти</button>
    </form>
  </div>
</div>
{% endblock %}